*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  font-weight: normal;
  scrollbar-width: thin;
  scrollbar-color: #ccc transparent;
}

* {
  -webkit-tap-highlight-color: transparent
}


/* 根据屏幕尺寸调整zoom */

@media (max-width: 600px) {
  body {
      zoom: 0.8;
  }
}
@media (min-width: 601px) and (max-width: 1400px) {
  body {
      zoom: 0.9;
  }
}
@media (min-width: 1400px) and (max-width: 1920px) {
  body {
      zoom: 1;
  }
}
@media (min-width: 1920px) and (max-width: 2560px) {
  body {
      zoom: 1.2;
  }
}
@media (min-width: 2561px) and (max-width: 3200px){
  body {
      zoom: 1.6;
  }
}
@media (min-width: 3201px){
  body {
      zoom: 2;
  }
}