@import "base.css";
@import "root.css";

/* Element组件样式覆盖 */
#app .el-dialog {
    background: var(--dialogBgColor);
    box-shadow: var(--shadow);
    border: var(--border);
    color: var(--fontColor);
    border-radius: 8px;
    backdrop-filter: blur(5px);

    .el-dialog__body {
        height: calc(100% - 40px);
    }
}

.el-dialog .el-dialog__title {
    color: var(--fontColor);
}

.el-dialog .el-dialog__title .el-dialog__headerbtn {
    color: var(--fontColor);
}

#app .el-button {
    font-size: 13px;
    text-align: center;
    display: inline-block;
    margin: 12px;
    cursor: pointer;
    width: 130px;
    height: 40px;
    line-height: 40px;
    border-radius: 55px;
    padding: 0;
    background: var(--bgColorDefaut);
    box-shadow: var(--shadow);
    border: var(--border);
    color: var(--fontColor);
}

.el-dialog .el-dialog__body {
    text-align: center;
}

#app .el-button:hover,
#app .el-button:active {
    box-shadow: var(--sideShadowActive);
}

/* 按钮加载 */
#app .is-loading-btn,
#app button.is-loading-btn {
    cursor: not-allowed;
}

@keyframes border-loading {
    0% {
        border-color: rgba(255, 255, 255, 0.25);
    }

    50% {
        border-color: rgba(0, 0, 0, 0.251);
    }

    100% {
        border-color: rgba(255, 255, 255, 0.25);
    }
}

/* 按钮全局 */
.button-default {
    font-size: 12px;
    text-align: center;
    display: inline-block;
    margin: 12px;
    cursor: pointer;
    padding: 4px 20px;
    box-sizing: border-box;
    line-height: 24px;
    border-radius: 6px;
    box-shadow: var(--btnShadow);
    border: var(--border);
    color: var(--btnColor);
    background-color: var(--btnBg)
}

.button-default.active,
.button-default:hover,
.button-default:active {
    box-shadow: var(--btnShadowActive);
}