:root {
    /* main */
    --bgColor: #f3f4fb;
    --shadow: -3px -3px 6px rgba(0, 0, 0, 0.1), 3px 4px 9px rgba(0, 0, 0, 0.2);
    --activeShadow: inset -3px -3px 9px rgba(255, 255, 255, 0.9), inset 3px 4px 9px rgba(0, 0, 0, 0.5);
    --bgColorDefaut: rgba(243, 244, 251, 0.5);
    --border: 1px solid transparent;
    --fontColor: #333;
    --fontColorLabel: #666;
    --fontColorDefaut: #fff;

    /* SideMenu */
    --sideFontColor: rgba(51, 51, 51, 1);
    --sideBoder: var(--border);
    --sideFilter: none;
    --sideBg: rgba(243, 244, 251, 1);
    --sideShadow: var(--shadow);
    --sideShadowActive: var(--activeShadow);

    /* TopTime */
    --timeColor: rgba(24, 19, 14, 1);
    --timeShadow: var(--shadow);

    /* SearchMain */
    --searchShadow: var(--shadow);
    --searchShadowActive: var(--activeShadow);
    --searchInputBg: rgba(243, 244, 251, 1);
    --searchFontColor: #333;
    --searchBtnBg: rgba(24, 19, 14, 1);
    --searchBtColor: #eee;

    /* notesMain */
    --notesShadow: var(--shadow);
    --notesShadowActive: inset -2px -2px 6px rgba(255, 255, 255, 0.9), inset 1px 1px 6px rgba(0, 0, 0, 0.1);
    --notesBg: var(--bgColorDefaut);

    /* Element */
    --dialogBgColor: rgba(243, 244, 251, 0.8);

    /* button */
    --btnColor: #fff;
    --btnBg: #666;
    --btnShadow: -2px -2px 2px rgba(0, 0, 0, 0.1), 5px 5px 3px rgba(0, 0, 0, 0.2);
    --btnShadowActive: inset -4px -4px 4px rgba(255, 255, 255, 0.4), inset 4px 4px 4px rgba(0, 0, 0, 0.4);

    /* news */
    --newsShadow:  3px 3px 12px #aaaaaa69;
}

:root.dark-theme {
    /* main */
    --bgColor: #f3f4fb;
    --shadow: -3px -3px 6px rgba(0, 0, 0, 0.1), 3px 4px 9px rgba(0, 0, 0, 0.2);
    --activeShadow: inset -3px -3px 9px rgba(255, 255, 255, 0.5), inset 3px 4px 9px rgba(0, 0, 0, 0.5);
    --bgColorDefaut: rgba(243, 244, 251, 0.3);
    --fontColor: #333;
    --fontColorLabel: #666;
    --fontColorDefaut: #fff;

    /* SideMenu */
    --sideFontColor: rgba(255, 255, 255, 1);
    --sideBoder: var(--border);
    --sideFilter: blur(6px);
    --sideBg: rgba(243, 244, 251, 0.2);
    --sideShadow: var(--shadow);
    --sideShadowActive: var(--activeShadow);

    /* TopTime */
    --timeColor: rgba(243, 244, 251, 1);
    --timeShadow: var(--shadow);

    /* SearchMain */
    --searchShadow: var(--shadow);
    --searchShadowActive: var(--activeShadow);
    --searchFontColor: #333;
    --searchInputBg: rgba(243, 244, 251, 1);
    --searchBtnBg: rgba(243, 244, 251, 1);
    --searchBtColor: #333;

    /* notesMain */
    --notesShadow: var(--shadow);
    --notesShadowActive: inset -3px -3px 9px rgba(255, 255, 255, 0.1), inset 3px 4px 9px rgba(0, 0, 0, 0.2);
    --notesBg: rgba(243, 244, 251, 0.1);

    /* Element */
    --dialogBgColor: rgba(243, 244, 251, 0.8);

    /* button */
    --btnColor: #fff;
    --btnBg: #666;
    --btnShadow: -2px -2px 2px rgba(0, 0, 0, 0.1), 5px 5px 3px rgba(0, 0, 0, 0.2);
    --btnShadowActive: inset -4px -4px 4px rgba(255, 255, 255, 0.4), inset 4px 4px 4px rgba(0, 0, 0, 0.4);

    /* news */
    --newsShadow:  3px 3px 12px #aaaaaa69;
}